<div class="author">
    <h1 class="author__name">Welcome to Zensai Blog</h1>
    <p class="author__bio">Discover insightful articles, tips, and stories on technology, lifestyle, and more.</p>
</div>
<img src="/img/author.jpg" alt="Author Image" class="author__image" class="hero-image" width="981" height="528">
<section class="articles">
    <h2 class="articles__heading">Latest Articles</h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list_date">
                    date
                </span>
            </a>
        </li>
    </ul>  
    
    
    <a href="#" class="pagination"> &lt; View All Articles</a>
</section>